.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.PlusButton {
  all: unset;
  display: flex;
  background-color: black;
  padding: 0.5rem 1rem;
  max-width: 300px;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.PlusButton:hover {
  background-color: #333;
}

.DeleteButton {
  all: unset;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.DeleteButton:hover {
  background-color: #555;
}

.TodoItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.TodoButtonDiv {
  display: flex;
  flex-direction: row;
}

.TodoTextDiv {
  display: flex;
  flex-direction: column;
}

.TodoText {
  all: unset;
  font-weight: 600;
}


.Header {
  margin-bottom: 1rem;
  font-size: xx-large;
  font-weight: 700;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.ModalWindow {
  position: fixed;
  padding: 1rem;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  background-color: white;
}

.ModalHeadline {
  font-size: x-large;
  font-weight: 700;
}

.Input {
  all: unset;
  background-color: #f1f1f1;
  height: 2rem;
  width: 100%;
  border-radius: 10px;
}
